:root {
  --col-01: #ff0000;
  --col-02: #00ff00;
  --col-03: #0000ff;
}
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  /* outline: dotted 1px var(--col-01); */
}

.main-container {
  margin-top: 60px;
  /* margin-bottom: 60px; */
}

.puntero {
  cursor: pointer;
}

.chat-window {
  padding: 10px;
  width: 300px;
  height: 500px;
  overflow: hidden;
  border: 1px solid #4080ff;
  border-radius: 20px;
}

.app-mensajes {
  overflow-y: scroll;
  height: 300px;
  padding: 10px;
}

/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
