<h1>Chat</h1>
<hr>
<div class="app-mensajes" id="app-mensajes">
  <div class="text-end">
    <span class="badge bg-primary">JorGGGG</span>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente facere qui iste mollitia? Consectetur,
      suscipit!</p>
  </div>
  <div>
    <span class="badge bg-warning text-dark">EgroJ</span>
    <p>Lorem ipsum dolor sit amet.</p>
  </div>
  <div>
    <span class="badge bg-warning text-dark">EgroJ</span>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse?</p>
  </div>
  <div>
    <span class="badge bg-warning text-dark">EgroJ</span>
    <p>loremx8</p>
  </div>

</div>
<hr>
<input class="form-control" type="text" name="mensaje" placeholder="Write your message here" [(ngModel)]="message"
  (keyup.enter)="sendMessage()">